# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build, push and deploy to LBCS
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
#       - uses: s4u/maven-settings-action@v2.1.0
#         with:
#           properties: '[{"docker.name": "justinhj/java-friends:latest"}]'  
      - name: Build package
        run: mvn -B package --file pom.xml
      - name: Build docker image
        run: mvn io.fabric8:docker-maven-plugin:0.26.1:build
      - uses: azure/docker-login@v1
        with:
          login-server: docker.io
          username: ${{ secrets.DOCKERIO_USERNAME }}
          password: ${{ secrets.DOCKERIO_PASSWORD }}
      - name: Push image
        run: mvn io.fabric8:docker-maven-plugin:0.26.1:push
      - name: Install kubectl
        run: |
          sudo apt-get update && sudo apt-get install -y apt-transport-https
          curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
          echo "deb https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee -a /etc/apt/sources.list.d/kubernetes.list
          sudo apt-get update
          sudo apt-get install -y kubectl
      - name: Install csctl
        run: |
          curl https://downloads.lbcs.io/0.0.8/csctl_linux_amd64_0.0.8.tar.gz -o csutil.tar.gz
          tar xvzf csutil.tar.gz
          sudo mv ./csctl /usr/local/bin/csctl
      - name: Temp test kubectl is installed
        run: kubectl version --client=true
      - name: Temp test csctl is installed
        run: csctl version

     
   
